.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.containerTable{
    width: 80%;
}
.button{
    text-align: right;
  
    color: aqua;
    width: 80%;
    margin: 12px 12px;
}

@media (min-width: 480px) and (max-width: 960px) {

    .containerTable{
        width: 100vw;
        overflow-x: scroll;
      
    }
    .button{
        text-align: right;
        width: 100%;
        margin: 12px 12px;
    }
}

@media (max-width: 480px){
    .containerTable{
        width: 100%;
    }
    .button{
        text-align: right;
        width: 100%;
        margin: 12px 12px;
    }
    
}
